
@{
    ViewData["Title"] = "Summary";
}



@model Lab18_CoffeeShop.Models.RegisterUser
    <div class="text-center">
        <h2 class="display-2">Welcome @Model.UserName</h2>
        <img src="~/fryCoffee.gif" title="The Shakes" />
    </div>